<div style="height: 100vh;">
<app-static-header></app-static-header>
<h2 class="dashboard-header1">PR District Status</h2>
<div class="pr-range-container">
    <div class="card-grid">
      <mat-card *ngFor="let district of userDistricts" class="card" [ngClass]="{'selected-card': district.distId === selectedDistId}"
        (click)="navigateToTableData(district.distId)">
        <mat-card-title>{{ district.distName }}</mat-card-title>
        <mat-card-content>{{ district.distPrCount }}</mat-card-content>
      </mat-card>

      <mat-card class="card card-color"    
      [@cardAnimation]="cardStates['*']" 
      (mouseenter)="setHoverState('*', 'hover')" 
      (mouseleave)="setHoverState('*', '*')">
        <label class="fontsty">{{userName}}</label>
        <mat-card-title >Total PR</mat-card-title>
        <mat-card-content>{{rangeMinorPRCount}}</mat-card-content>
      </mat-card>

      <!-- <mat-card class="card card-color" (click)="MajorPRData()"  
      [@cardAnimation]="cardStates['*']" 
      (mouseenter)="setHoverState('*', 'hover')" 
      (mouseleave)="setHoverState('*', '*')">
        <label class="fontsty">Total Major PR</label>
        <mat-card-title >District</mat-card-title>
        <mat-card-content>{{ DistricttotalMajorPR }}</mat-card-content>
      </mat-card> -->
    </div>
  </div>

  <!------------ distric-wise PR count---------->
  <h2 class="dashboard-header2">PR Status Overview</h2>
  <div class="cards-section">
    <div class="row-layout">
      <mat-card class="card card-green" (click)="navigateToTableDataBasedOnSection('3a')"  
      [@cardAnimation]="cardStates['3A']" 
      (mouseenter)="setHoverState('3A', 'hover')" 
      (mouseleave)="setHoverState('3A', '*')">
        <label class="fontsty">Minor PR</label>
        <mat-card-title >3A</mat-card-title>
        <mat-card-content>{{ totalPR3A }}</mat-card-content>
      </mat-card>

      <mat-card class="card card-blue" (click)="navigateToTableDataBasedOnSection('17a')" 
      [@cardAnimation]="cardStates['17A']" 
      (mouseenter)="setHoverState('17A', 'hover')" 
      (mouseleave)="setHoverState('17A', '*')">
        <label class="fontsty">Minor PR</label>
        <mat-card-title>17A</mat-card-title>
        <mat-card-content>{{ totalPR17A }}</mat-card-content>
      </mat-card>

      <mat-card class="card card-skyblue" (click)="totalPrlist()" 
      [@cardAnimation]="cardStates['TotalMinor']" 
      (mouseenter)="setHoverState('TotalMinor', 'hover')" 
      (mouseleave)="setHoverState('TotalMinor', '*')">
        <mat-card-title class="fontsty">Total Minor PR</mat-card-title>
        <mat-card-content>{{totalMinorPrCount}}</mat-card-content>
      </mat-card>
    </div>

    <!-- Row 2: 3B and 17B -->
    <div class="row-layout">
      <mat-card class="card card-yellow" 
      [@cardAnimation]="cardStates['3B']" 
      (mouseenter)="setHoverState('3B', 'hover')" 
      (mouseleave)="setHoverState('3B', '*')">
        <label class="fontsty">Major PR</label>
        <mat-card-title>3B</mat-card-title>
        <mat-card-content>{{ totalPR3B }}</mat-card-content>
      </mat-card>

      <mat-card class="card card-red"  
      [@cardAnimation]="cardStates['17B']" 
      (mouseenter)="setHoverState('17B', 'hover')" 
      (mouseleave)="setHoverState('17B', '*')">
        <label class="fontsty">Major PR</label>
        <mat-card-title>17B</mat-card-title>
        <mat-card-content>{{ totalPR17B }}</mat-card-content>
      </mat-card>

      <mat-card class="card card-gray" 
      [@cardAnimation]="cardStates['TotalMajor']" 
      (mouseenter)="setHoverState('TotalMajor', 'hover')" 
      (mouseleave)="setHoverState('TotalMajor', '*')">
        <mat-card-title class="fontsty">Total Major PR</mat-card-title>
        <mat-card-content>{{totalMajorPrCount}}</mat-card-content>
      </mat-card>
    </div>
    
  </div>
</div>