.pr-zone-container{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 40px;
  /* margin-top: 4vh; */
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .card {
    width: 200px; /* Ensures uniform card width */
    min-height: 120px;
    padding: 16px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  }

  .card-default {
    background-color: #ddd;
    color: black;
  }

  .card-color {
    background-color: #b3cccc;
  }

  .fontsty {
    font-size: 22px;
    font-weight: 500;
  }  



  .row-layout {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: nowrap; 
  }

  .cards-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    /* width: 100%; */
    padding: 24px;
  }


  .card-green {
    background-color: #A5D6A7;
    color: black;
  }
  
  .card-blue {
    background-color: #90CAF9;
    color: black;
  }
  
  .card-yellow {
    background-color: #FFE082;
    color: black;
  }
  
  .card-red {
    background-color: #FFAB91;
    color: black;
  }

  .card-skyblue {
    background-color: #90e6de; 
    color: black; 
  }

  .card-gray{
    background-color: #d3d3d3; 
    color: black; 
  }
  .dashboard-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
  }
  .selected-card {
    border: 2px solid #007BFF !important; /* Blue border */
    background: rgba(0, 123, 255, 0.1) !important; /* Light blue background */
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  }
  
  .highlight-card {
    animation: highlightFade 3s ease-in-out;
    background-color: rgba(255, 87, 34, 0.2) !important; 
    border: 2px solid #ff5722 !important;
    box-shadow: 0px 4px 12px rgba(255, 87, 34, 0.4); 
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .highlight-value {
    border: 2px solid #28a745 !important;
    background: rgba(40, 167, 69, 0.1) !important;
    box-shadow: 0px 4px 10px rgba(40, 167, 69, 0.3);
  }
  
  @keyframes highlightFade {
    0% { background-color: rgba(255, 87, 34, 0.6); }
    50% { background-color: rgba(255, 87, 34, 0.3); }
    100% { background-color: rgba(255, 87, 34, 0.1); }
}
  