/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */


html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to bottom right, rgba(58, 180, 211, 0.3), rgba(31, 161, 209, 0.1)) no-repeat center/cover;
}
